/* line 4, /vagrant/static_cms_builder/app/assets/stylesheets/posts.scss */
.div-post-admin {
  max-width: 80%;
}
/* line 7, /vagrant/static_cms_builder/app/assets/stylesheets/posts.scss */
.div-post-admin td:nth-child(1) {
  min-width: 16%;
}
/* line 11, /vagrant/static_cms_builder/app/assets/stylesheets/posts.scss */
.div-post-admin trix-editor {
  padding: 1em;
}
/* line 15, /vagrant/static_cms_builder/app/assets/stylesheets/posts.scss */
.div-post-admin output, .div-post-admin input {
  color: white;
}
/* line 19, /vagrant/static_cms_builder/app/assets/stylesheets/posts.scss */
.div-post-admin button {
  background-color: white;
}
/* line 23, /vagrant/static_cms_builder/app/assets/stylesheets/posts.scss */
.div-post-admin trix-toolbar .trix-button {
  background-color: white;
}
